
@{
    ViewBag.Title = "EditData";
}

<h2>EditData</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <h3>Edytowanie studenta</h3>
        <p>Edytuj studentów będących na liście i zmieniaj przypisane im dane.</p>
        <p>@Html.ActionLink("Edytuj studenta »", "Index", "Admin", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h3>Edytowanie kategorii</h3>
        <p>Edytuj kategorie i należące do nich specjalności lub przedmioty obieralne w poszczególnych grupach.</p>
        <p>@Html.ActionLink("Edytuj kategorię »", "IndexCat", "Admin", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h3>Edytowanie grupy studentów</h3>
        <p>Edytuj grupy studentów zawierające informacje o kierunku, semestrze i trybie studiów.</p>
        <p>@Html.ActionLink("Edytuj grupę »", "EditGroups", "Admin", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
