@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h4>Admin Adminowski</h4>
<h4>ul. Admina 1 p.123</h4>
<h4><a href="mailto:admin@admin.pl?Subject=eZapisy" target="_top">Wyślij wiadomość e-mail</a></h4>