@{
    ViewBag.Title = "Pomoc i zasady rekrutacji";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4><a href="~/Doc/Pomoc_a.pdf">Dokument pomocy dla administratorów</a></h4>
        <h4><a href="~/Doc/Pomoc_s.pdf">Dokument pomocy dla studentów</a></h4>
    </div>
}
        <!--Komentarz-->

