@{
    ViewBag.Title = "StudentChoices";
}

@if (Session["USER"] == "Admin" || Session["USER"] == "SuperAdmin")
{

}
else if (Session["USER"] == "Student")
{

}
else
{
<table align="center">
    <tr>
        <td rowspan="5"><img src="~/Images/index.jpg" style="min-width:100%" alt="" /></td> 
    </tr>
    <tr>
        <td align="center" width="60%" valign="top">
            <h2 style="color: #210764"><b>Wybór</b></h2>
            Dokonaj wyboru specjalności.<br />
            Zdecyduj, które przedmioty obieralne chcesz studiować.
        </td>
    </tr>
    <tr>   
        <td align="center" width="60%" valign="top">
            <h2 style="color: #210764"><b>Prostota</b></h2>
             Korzystaj z przejrzystego interfejsu będąc studentem.<br/>
             Ułatw administrowanie procesem rekrutacji.
        </td>
    </tr>
    <tr>
        <td align="center" width="60%" valign="top">
            <h2 style="color: #210764"><b>Szybkość</b></h2>
            Wprowadzaj swoje dane w formie elektronicznej.<br />
            Przyspiesz przydział studentów.
        </td>
    </tr>
    <tr>
        <td align="center" width="60%" valign="top">
            <h2 style="color: #210764"><b>Nowoczesność</b></h2>
            Zakończ pracę z tradycyjnymi, papierowymi formularzami.<br/>
            Miej dostęp do danych o każdej porze.<br />
            Podejmuj decyzje, niewychodząc z domu.
        </td>
    </tr>
</table>
}